@using System.Globalization
@model List<ContactsManager.Application.Models.ViewModels.ContactVm>
@{
  ViewData["Title"] = "Contacts";
}

<div class="container">
  <a class="btn-floating btn-large waves-effect waves-light red"
     id="create-contact-btn"
     onclick="openModal({
       url: 'Home/GetCreateContactModalPartial',
       modalSelector: '#create-contact-modal'
     })">
    <i class="material-icons">add</i>
  </a>

  <div class="row">
    @foreach (var contact in Model)
    {
      <div class="col l4">
        <div class="contact-card">
          <h3 class="contact-title">@contact.Name</h3>
          @if (!string.IsNullOrEmpty(contact.JobTitle))
          {
            <span class="contact-job-title">
              @contact.JobTitle
            </span>
          }
          else
          {
            <span class="contact-job-title">
              &nbsp;
            </span>
          }
          @if (contact.BirthDate != null)
          {
            <div class="contact-birth-date">
              <i class="material-icons right">cake</i>
              @contact.BirthDate?.ToString("dd/MM/yyyy", new CultureInfo("en-US"))
            </div>
          }
          <hr>
          <div class="contact-phone">
            <i class="material-icons">phone</i>
            <span class="contact-phone-number">@contact.MobilePhone</span>
          </div>
          <div class="contact-controls">
            <button class="btn waves-effect waves-light"
                    onclick="openModal({
                      url: 'Home/GetEditContactModalPartial/',
                      modalSelector: '#edit-contact-modal',
                      data: {
                        id: '@contact.Id'
                      }
                    })">
              Edit
              <i class="material-icons right">edit</i>
            </button>
            <button class="btn waves-effect waves-light red darken-4"
                    onclick="location.href='@Url.Action("DeleteContact", "Home", new { id = contact.Id })'">
              Delete
              <i class="material-icons right">delete</i>
            </button>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<div id="create-contact-modal" class="modal"></div>
<div id="edit-contact-modal" class="modal"></div>